<!--this notification will be sent to users that haven't signed up yet-->

<div class="wrapper" style="padding-top: 50px; padding-bottom: 50px;">
  <table class="header" style="border-collapse: collapse;table-layout: fixed;Margin-left: auto;Margin-right: auto;" align="center" id="emb-email-header-container">
    <tbody><tr>
      <td style="padding: 0;width: 600px;">
        <div class="header__logo emb-logo-margin-box" style="font-size: 26px;line-height: 32px;Margin-top: 6px;Margin-bottom: 20px;color: #c3ced9;font-family: Roboto,Tahoma,sans-serif;Margin-left: 20px;Margin-right: 20px;">
          <div class="logo-center" style="font-size:0px !important;line-height:0 !important;" align="center" id="emb-email-header"><img style="height: auto;width: 100%;border: 0;max-width: 153px;" src="https://s3-eu-west-1.amazonaws.com/plio/images/plio-logo.png" alt="" width="153" height="63"></div>
        </div>
      </td>
    </tr>
  </tbody></table>
  <table class="layout layout--no-gutter" style="border-collapse: collapse;table-layout: fixed;Margin-left: auto;Margin-right: auto;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;" align="center">
    <tbody>
      <tr>
        <td class="column" style="padding: 0;text-align: left;vertical-align: top;color: #888794;font-size: 14px;line-height: 21px;font-family: Roboto,Tahoma,sans-serif;width: 600px;">
        <div style="Margin-left: 20px;Margin-right: 20px;Margin-top: 0px;">
          <div style="line-height:25px;font-size:1px">&nbsp;</div>
        </div>
        <div style="Margin-left: 20px;Margin-right: 20px;">
          <h1 style="Margin-top: 0;Margin-bottom: 20px;font-style: normal;font-weight: normal;color: #888794;font-size: 26px;line-height: 34px;font-family: Roboto,Tahoma,sans-serif;text-align: center;">{{invitationSenderName}} invited you to the "{{organizationName}}" organization!</h1>
        </div>

        <div style="Margin-left: 20px;Margin-right: 20px;">
          <div style="line-height:5px;font-size:1px">&nbsp;</div>
        </div>

        <div style="Margin-left: 20px;Margin-right: 20px;">
          <p style="Margin-top: 0;Margin-bottom: 20px;text-align: center;">{{welcomeMessage}}</p>
        </div>

        <div style="Margin-left: 20px;Margin-right: 20px;">
          <div class="btn btn--flat" style="Margin-bottom: 20px;text-align: center;">
            <!--[if !mso]--><a style="border-radius: 4px;display: inline-block;font-weight: bold;text-align: center;text-decoration: none !important;transition: opacity 0.1s ease-in;color: #373a3c !important;background-color: #ffffff;font-family: Roboto, Tahoma, sans-serif;font-size: 14px;line-height: 24px;padding: 12px 35px; border: 1px solid #ccc;" href="{{invitationLink}}" target="_blank">Accept the invitation</a><!--[endif]-->
          <!--[if mso]><p style="line-height:0;margin:0;">&nbsp;</p><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" href="{{invitationLink}}" style="width:176px" arcsize="9%" fillcolor="#FFFFFF" stroke="f"><v:textbox style="mso-fit-shape-to-text:t" inset="0px,11px,0px,11px"><center style="font-size:14px;line-height:24px;color:#373A3C;font-family:Tahoma,sans-serif;font-weight:bold;mso-line-height-rule:exactly;mso-text-raise:4px">Accept the invitation</center></v:textbox></v:roundrect><![endif]--></div>
        </div>

        <div style="Margin-left: 20px;Margin-right: 20px;">
          <div style="line-height:5px;font-size:1px">&nbsp;</div>
        </div>

        <div style="Margin-left: 20px;Margin-right: 20px;Margin-bottom: 12px;">
          <p style="Margin-top: 0;Margin-bottom: 0;text-align: center;">or copy&nbsp;and paste the following URL&nbsp;into a browser window:</p><p style="Margin-top: 20px;Margin-bottom: 0;text-align: center;"><a style="text-decoration: underline;transition: opacity 0.1s ease-in;color: #0275d8;" href="{{invitationLink}}" target="_blank">{{invitationLink}}</a>&nbsp;</p>
        </div>

      </td>
    </tr>
  </tbody></table>
  
</div>