<div class="wrapper">
  <table class="layout layout--no-gutter" style="border-spacing:0;background:#ffffff;margin:0;padding:0;border:0;border-collapse:collapse;text-align:left;width:100%">
    <tbody>
      <tr>
        {{#with avatar}}
          <td width="45" valign="middle" style="font-size:15px;line-height:19px;font-family:&quot;Helvetica Neue&quot;,helvetica,arial,sans-serif;color:#000000;border-collapse:collapse;border-spacing:0;padding:0;background:#ffffff;text-align:left;width:45px;vertical-align:middle;padding-right:14px;">
            <img alt="{{alt}}" src="{{url}}" style="border-radius:100px;vertical-align:middle;width:45px;min-height:45px;min-height:45px;max-height:45px;padding:0!important;border:0!important;padding:1px;border:1px solid #cccccc;object-fit: cover;" title="{{title}}">
          </td>
        {{else}}
          <td width="45" valign="middle" style="font-size:15px;line-height:19px;font-family:&quot;Helvetica Neue&quot;,helvetica,arial,sans-serif;color:#000000;border-collapse:collapse;border-spacing:0;padding:0;background:#ffffff;text-align:left;width:45px;vertical-align:middle;padding-right:14px;">
            <img alt="Plio" src="https://ci5.googleusercontent.com/proxy/W9Fm9ZqpCFnbmc6F5t1F_XYEb3ADyI50M5xobaHVUTnOsDVV2tx33YDezK3o_Ril1ep4F_f7PWerEASpf5pOL_09ha1BTSWuDkcdhojTU5YtkomCKYY=s0-d-e1-ft#https://s3-eu-west-1.amazonaws.com/plio/images/p-logo-square.png" style="border-radius:100px;vertical-align:middle;width:45px;min-height:45px;min-height:45px;max-height:45px;padding:0!important;border:0!important;padding:1px;border:1px solid #cccccc;object-fit: cover;" title="{{title}}">
          </td>
        {{/with}}
        <td class="column" style="background:#ffffff;text-align:left;vertical-align:top;font-size:15px;line-height:19px;border-collapse:collapse;color:#000000;border-spacing:0;font-family:'Helvetica Neue',helvetica,arial,sans-serif;">
          <p>{{text}}</p>
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="column" style="background:#ffffff;text-align:left;vertical-align:top;font-size:15px;line-height:19px;border-collapse:collapse;color:#000000;border-spacing:0;font-family:'Helvetica Neue',helvetica,arial,sans-serif;">
          {{#with button}}
            <p style="margin-bottom: 35px;">
              <a href="{{this.url}}">{{this.label}}</a>
            </p>
          {{/with}}
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="column" align="left" style="background:#ffffff;text-align:left;vertical-align:top;border-collapse:collapse;color:#888888;border-spacing:0;font-family:'Helvetica Neue',helvetica,arial,sans-serif;font-size:12px;line-height:16px;">
          <p style="color:#888888;font-family:'Helvetica Neue',helvetica,arial,sans-serif;font-size:12px;line-height:16px;margin-bottom: 1em;">
            Do not reply to this email - this is an automated notification message.
            {{#if unsubscribeUrl}}
              You received this email because you are listed in the notify list of the {{docName}} document. To remove yourself from the list, <a href="{{unsubscribeUrl}}">click here</a>.
            {{/if}}
          </p>
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="column" align="left" style="background:#ffffff;text-align:left;vertical-align:top;border-collapse:collapse;color:#888888;border-spacing:0;font-family:'Helvetica Neue',helvetica,arial,sans-serif;font-size:12px;line-height:16px;border-top: 1px solid #dddddd;">
          <!-- <hr style="border-top: 1px solid #dddddd; border-bottom: none;"> -->
          <p style="color:#888888;font-family:'Helvetica Neue',helvetica,arial,sans-serif;font-size:12px;line-height:16px;margin-top: 1em;">
            At Plio we believe that continuous improvement is vital to the future of your organization. You need a better software tool than a spreadsheet to keep on top of quality problems, compliance issues and the multitude of other potential process improvements that could save you time and money.
          </p>
          <p style="color:#888888;font-family:'Helvetica Neue',helvetica,arial,sans-serif;font-size:12px;line-height:16px;">
            Spreadsheets are time-consuming to maintain and don’t give you the proper structure or audit trail that you need in a management system. One day, it’s likely that you will need to demonstrate the integrity of your management system either to a new boss or to a regulatory body, and the Plio app helps you do this.
          </p>
          <p style="color:#888888;font-family:'Helvetica Neue',helvetica,arial,sans-serif;font-size:12px;line-height:16px;">
            Software systems for operation management, quality management and compliance management and have been around for several years, and are routinely used by larger organizations. However the price tag for these systems – and the time needed to implement them – have put them out of range for most small firms.
          </p>
          <p style="color:#888888;font-family:'Helvetica Neue',helvetica,arial,sans-serif;font-size:12px;line-height:16px;">
            At Plio, we believe that any business should be able to afford this kind of management system, and it ought to be easy enough to understand for everyone.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
