<div class="wrapper">
  <table class="layout layout--no-gutter" width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
    <tbody>
      <tr>
        <td class="column" align="left" valign="middle" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; color: #353535; padding-top:30px;">
          <img src="https://s3-eu-west-1.amazonaws.com/plio/images/plio-logo.png" width="100" alt="Plio">
          <p style="margin-top: 10px; margin-bottom: 0; font-size: 15px;">{{title}}</p>
        </td>
      </tr>
      <tr>
        <td align="center">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-bottom: 45px;">
            <tr>
              <td class="column" style="background:#ffffff;text-align:left;vertical-align:top;font-size:15px;line-height:19px;border-collapse:collapse;color:#000000;border-spacing:0;font-family:'Helvetica Neue',helvetica,arial,sans-serif;">
                {{#each recapData}}
                  <p style="margin-top: 40px;">{{title}}</p>

                  {{#each data}}
                    {{#if url}}
                      <p style="margin: 12px 0;">
                        <a href="{{url}}">{{title}}</a>
                      </p>
                    {{else}}
                      {{#if title}}
                        <p>{{title}}</p>
                      {{/if}}
                    {{/if}}

                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style: "border: 1px solid #ddd; border-bottom: none;">
                      <thead>
                        <tr>
                          <th align="left" bgcolor="#FFFFFF" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 12px; color: #EEEEEE; padding:10px; padding-right:0; font-weight: normal; color: #252525; border-bottom: 1px solid #DDDDDD;">User</th>
                          <th align="left" bgcolor="#FFFFFF" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 12px; color: #EEEEEE; padding:10px; padding-right:0; font-weight: normal; color: #252525; border-bottom: 1px solid #DDDDDD;">Change summary</th>
                          <th align="left" bgcolor="#FFFFFF" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 12px; color: #EEEEEE; padding:10px; padding-right:0; font-weight: normal; color: #252525; border-bottom: 1px solid #DDDDDD;">Time</th>
                        </tr>
                      </thead>
                      {{#each logs}}
                        <tr>
                          <td width="20%" align="left" bgcolor="#FFFFFF" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 12px; color: #252525; padding:10px; padding-right:0; border-bottom: 1px solid #DDDDDD;">{{executor}}</td>
                          <td width="55%" align="left" bgcolor="#FFFFFF" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 12px; color: #252525; padding:10px; padding-right:0; border-bottom: 1px solid #DDDDDD;">{{message}}</td>
                          <td width="25%" align="left" bgcolor="#FFFFFF" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 12px; color: #252525; padding:10px; padding-right:0; border-bottom: 1px solid #DDDDDD;">{{date}}</td>
                        </tr>
                      {{/each}}
                    </table>
                  {{/each}}
                {{/each}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="column" align="left" style="background:#ffffff;text-align:left;vertical-align:top;border-collapse:collapse;color:#888888;border-spacing:0;font-family:'Helvetica Neue',helvetica,arial,sans-serif;font-size:12px;line-height:16px;">
          <p style="color:#888888;font-family:'Helvetica Neue',helvetica,arial,sans-serif;font-size:12px;line-height:16px;margin-bottom: 1em;">
            Do not reply to this email - this is an automated notification message. To stop receiving this type of notification <a href="{{unsubscribeUrl}}">click here</a>.
          </p>
        </td>
      </tr>
      <tr>
        <td class="column" align="left" style="background:#ffffff;text-align:left;vertical-align:top;border-collapse:collapse;color:#888888;border-spacing:0;font-family:'Helvetica Neue',helvetica,arial,sans-serif;font-size:12px;line-height:16px;border-top: 1px solid #dddddd;">
          <!-- <hr style="border-top: 1px solid #dddddd; border-bottom: none;"> -->
          <p style="color:#888888;font-family:'Helvetica Neue',helvetica,arial,sans-serif;font-size:12px;line-height:16px;margin-top: 1em;">
            At Plio we believe that the adoption of structured management systems makes a big difference to the performance of your organization. The ad hoc use of spreadsheets is not sufficient to keep you on top of quality problems, compliance issues and the multitude of other process improvements that could save you time and money.
          </p>
          <p style="color:#888888;font-family:'Helvetica Neue',helvetica,arial,sans-serif;font-size:12px;line-height:16px;">
            Spreadsheets are time-consuming to maintain and don’t give you the rigorous structure or audit trail that you need in a management system. One day, it’s likely that you will need to demonstrate the integrity of your management system either to a new boss or to a regulatory body, and the Plio app helps you do this.
          </p>
          <p style="color:#888888;font-family:'Helvetica Neue',helvetica,arial,sans-serif;font-size:12px;line-height:16px;">
            Software systems for operations management, quality management and compliance management have been around for several years and are routinely used by larger organizations. However the price tag for these systems – and the time needed to implement them – have put them out of range for many smaller firms.
          </p>
          <p style="color:#888888;font-family:'Helvetica Neue',helvetica,arial,sans-serif;font-size:12px;line-height:16px;">
            At Plio, we believe that any business should be able to afford this kind of management system, and it ought to be easy enough to understand for everyone to use.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
