<div>
  <p>
    today day: {{todayaDay}}
  </p>
  <p>
    server time zone : {{serverTimeZone}}
  </p>
  <p>
    founded time zones : {{#each timezones}}<i>{{this}}</i>{{/each}}
  </p>
  <h3>Organizations</h3>
  <div>
    {{#each organizations}}
      <h4>{{name}}</h4>
      <table>
        <tr>
          <td>review.standarts.frequency</td>
          <td>{{review.standards.frequency.timeValue}}: {{review.standards.frequency.timeUnit}}</td>
        </tr>
        <tr>
          <td>review.standarts.reminders.start</td>
          <td>{{review.standards.reminders.start.timeValue}}: {{review.standards.reminders.start.timeUnit}}</td>
        </tr>
        <tr>
          <td>review.standarts.reminders.interval</td>
          <td>{{review.standards.reminders.interval.timeValue}}: {{review.standards.reminders.interval.timeUnit}}</td>
        </tr>
        <tr>
          <td>review.standarts.reminders.interval</td>
          <td>{{review.standards.reminders.until.timeValue}}: {{review.standards.reminders.until.timeUnit}}</td>
        </tr>


        <tr>
          <td>review.risks.frequency</td>
          <td>{{review.risks.frequency.timeValue}}: {{review.risks.frequency.timeUnit}}</td>
        </tr>
        <tr>
          <td>review.risks.reminders.start</td>
          <td>{{review.risks.reminders.start.timeValue}}: {{review.risks.reminders.start.timeUnit}}</td>
        </tr>
        <tr>
          <td>review.risks.reminders.interval</td>
          <td>{{review.risks.reminders.interval.timeValue}}: {{review.risks.reminders.interval.timeUnit}}</td>
        </tr>
        <tr>
          <td>review.risks.reminders.interval</td>
          <td>{{review.risks.reminders.until.timeValue}}: {{review.risks.reminders.until.timeUnit}}</td>
        </tr>
      </table>
      <table>
        <tr>
          <td>it should date pass</td>
          <td>{{isDateScheduledPass}}</td>
        </tr>
        <tr>
          <td>it should find Risks with status [AwaitingReview]</td>
          <td>{{itHasRisks}}</td>
        </tr>
        <tr>
          <td>it should find Standards with status [AwaitingReview]</td>
          <td>{{itHasStandards}}</td>
        </tr>
      </table>
    {{/each}}
  </div>

</div>